---
---
<footer class="bg-navy py-12 text-white pb-16">
  <div class="w-full max-w-screen-xl mx-auto px-4 flex flex-col gap-8">
    <div class="flex items-center justify-between gap-2 flex-col md:flex-row">
      <div class="col-span-2 flex items-center gap-4">
        <a href="/" target="_blank" class="hover:opacity-80">
          <img src="/logo-nav-white.png" alt="Logo" class="h-16" />
        </a>
      </div>
      <div class="flex items-center gap-2 text-white flex-col md:flex-row">
        <a href="tel:8004793103" target="_blank" class="flex items-center gap-2 border border-white/10 py-2 px-4 rounded-full hover:bg-white/10 group">
          <i class="fa-solid fa-phone group-hover:rotate-12 transition-transform"></i>
          <span>800 479 3103</span>
        </a>
        <a href="https://www.instagram.com/sumametros_" target="_blank" class="flex items-center gap-2 border border-white/10 py-2 px-4 rounded-full hover:bg-white/10 group">
            <i class="fa-brands fa-instagram group-hover:rotate-12 transition-transform"></i>
            <span>@sumametros_</span>
        </a>
        <a href="https://www.facebook.com/profile.php?id=61551645088385&sk=about&locale=es_LA" target="_blank" class="flex items-center gap-2 border border-white/10 py-2 px-4 rounded-full hover:bg-white/10 group">
          <i class="fa-brands fa-facebook group-hover:rotate-12 transition-transform"></i>
          <span>Suma Metros</span>
        </a>
      </div>
    </div>
    <div class="text-center">
      <small>Be Grand® y briq.mx son marcas registradas. Todos los derechos son reservados.</small>
    </div>
  </div>
</footer>