---
import { Icon } from 'astro-icon/components'
---
<section class="py-12">
  <div class="mx-auto w-full max-w-screen-lg px-4">
    <h2 class="mb-8 font-display text-3xl md:text-4xl font-bold max-w-md text-center md:text-left">¿Cómo puedo utilizar mis metros?</h2>
    <div>
      <div class="flex md:grid grid-cols-2 grid-rows-2 gap-4 overflow-x-scroll md:overflow-auto snap-x">
        <article class="bg-beige p-8 rounded-lg border snap-start">
          <div class="w-full">
            <figure class="aspect-square relative h-64 mx-auto">
              <img src="/icon-1.svg" class="h-full w-full absolute inset-0 object-cover" />
            </figure>
          </div>
          <div class="flex flex-col gap-4 items-start w-full">
            <h3 class="text-lg md:text-2xl font-display font-bold text-balance">Compra más metros, y <span class="highlight">hazte de tu departamento</span></h3>
            <p class="leading-relaxed text-pretty">Sigue comprando metros, una vez que completes los necesarios cámbialos por un departamento disponible de Be Grand®.</p>
          </div>
        </article>
        <article class="bg-beige p-8 rounded-lg border snap-start">
          <div class="w-full">
            <figure class="aspect-square relative h-64 mx-auto">
              <img src="/icon-2.svg" class="h-full w-full absolute inset-0 object-cover" />
            </figure>
          </div>
          <div class="flex flex-col gap-4 items-start w-full">
            <h3 class="text-lg md:text-2xl font-display font-bold text-balance">Conserva tus metros y <span class="highlight">recibe rentas mensuales</span></h3>
            <p class="leading-relaxed text-pretty">Recibe rentas mensuales por cada metro que tengas, sin preocuparte por la administración de tu propiedad.</p>
            
          </div>
        </article>
        <article class="bg-beige p-8 rounded-lg border snap-start">
          <div class="w-full">
            <figure class="aspect-square relative h-64 mx-auto">
              <img src="/icon-3.svg" class="h-full w-full absolute inset-0 object-cover" />
            </figure>
          </div>
          <div class="flex flex-col gap-4 items-start w-full">
            <h3 class="text-lg md:text-2xl font-display font-bold text-balance">Vende tus metros y <br/><span class="highlight">obtén plusvalía</span></h3>
            <p class="leading-relaxed text-pretty">Utiliza tus metros para obtener plusvalía, véndelos en el mercado secundario o hipotécate con ellos.</p>
          </div>
        </article>
        <article class="bg-beige p-8 rounded-lg border relative snap-start">
          <span class="bg-black/10 px-4 py-1 inline-block rounded-full text-sm absolute">Próximamente</span>
          <div class="w-full">
            <figure class="aspect-square relative h-64 mx-auto">
              <img src="/icon-5.svg" class="h-full w-full absolute inset-0 object-cover" />
            </figure>
          </div>
          <div class="flex flex-col gap-4 items-start w-full">
            <h3 class="text-lg md:text-2xl font-display font-bold text-balance"><span class="highlight">Solicita un crédito </span> usando tus metros</h3>
            <p class="leading-relaxed text-pretty">Próximamente podrás solicitar un crédito hipotecario usando tus metros como garantía.</p>
          </div>
        </article>
      </div>
      <div class="flex md:hidden items-center justify-center gap-2 pt-4">
        <div class="size-2 bg-black/30 rounded-full"></div>
        <div class="size-2 bg-black/20 rounded-full"></div>
        <div class="size-2 bg-black/20 rounded-full"></div>
        <div class="size-2 bg-black/20 rounded-full"></div>
      </div>
    </div>
  </div>
</section>
