<nav class="py-4 border-b border-black/10">
  <div class="container">
    <div class="flex items-center justify-between gap-8">
      <!-- Left side -->
      <div>
        <a href="/">
          <img src="/logo-nav.png" alt="Logo" class="h-10" />
        </a>
      </div>
      <!-- Right side -->
      <div class="items-center gap-4 hidden md:flex font-semibold">
        <a href="#como-funciona">¿Cómo funciona?</a>
        <a href="#propiedades">Propiedades</a>
        <a href="#preguntas-frecuentes">Preguntas frecuentes</a>
      </div>

      <div class="md:hidden">
        <button>Menu</button>
      </div>
    </div>
  </div>
</nav>