---
import Calculator from '../../components/Calculator';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main class="min-h-screen flex items-center justify-center text-lg bg-beige font-display p-4">
    <div class="max-w-screen-lg w-full">
      <Calculator  client:visible />
    </div>
  </main>
</body>
</html>