---
import NewCalculator from '../../components/NewCalculator';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calcula cuánto puedes ganar invirtiendo en Sumametros®</title>
</head>
<body>
  <main class="min-h-screen flex text-lg bg-beige font-display flex-col">
    <nav class="bg-white border-b border-black/10 h-[77px] flex items-center">
      <div class="flex items-center justify-between mx-auto px-8 w-full">
        <img src="/logo-nav.png" alt="Logo" class="h-10" />
        <a class="h-[30px] border border-black/10 bg-white p-2 text-xs flex items-center gap-2" href="#">
          <svg class="svg-inline--fa fa-briq-logo" aria-hidden="true" focusable="false" data-prefix="fak" data-icon="briq-logo" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" data-fa-i2svg="" style="width: 1.25em;"><path fill="currentColor" d="M384 300.8l-96 0 0 89.6 96 0 0 89.6 96 0 0-268.8-96 0 0 89.6zm-96-89.6l96 0 0-89.6-96 0L288 32l-96 0 0 268.8 96 0 0-89.6z"></path></svg>
          Iniciar sesión con briq.mx
        </a>
      </div>
    </nav>
    <div class="max-w-screen-lg w-full flex-1 flex items-center justify-center mx-auto p-4">
      <NewCalculator  client:only />
    </div>
  </main>
</body>
</html>

<style>
	@font-face {
		font-family: 'Archia';
		src: url('/fonts/archia-thin-webfont.woff') format('woff');
		font-weight: 100;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Archia';
		src: url('/fonts/archia-light-webfont.woff') format('woff');
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Archia';
		src: url('/fonts/archia-regular-webfont.woff') format('woff');
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Archia';
		src: url('/fonts/archia-medium-webfont.woff') format('woff');
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Archia';
		src: url('/fonts/archia-semibold-webfont.woff') format('woff');
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Archia';
		src: url('/fonts/archia-bold-webfont.woff') format('woff');
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}
</style>
