---
import '../styles/global.css'
const site_url = Astro.site
let base_ulr = ''

// Get the process environment
if (process.env.NODE_ENV === 'development') {
	base_ulr = 'http://localhost:4321'
} else {
	base_ulr = site_url.href + ''
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{ title }</title>
  <meta
    name="description"
    content="Compra desde 1m² en grandes proyectos residenciales ya rentados y genera rendimientos por rentas más plusvalía."
  />
  <meta
    name="og:title"
    content="{{ title }}"
  />
  <meta
    name="og:description"
    content="Compra desde 1m² en grandes proyectos residenciales ya rentados y genera rendimientos por rentas más plusvalía."
  />

  <meta name="og:image" content={base_ulr + '/og.jpg'} />
  <link rel="icon" href={base_ulr + '/favicon.png'} type="image/png" />
  <script src="https://kit.fontawesome.com/dd626c8ac3.js" crossorigin="anonymous"></script>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-H8JTC0Y322"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-H8JTC0Y322');
  </script>

  <!-- Clarity tracking code -->
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "ku6s4q2wzr");
  </script>
</head>
<body class="antialiased flex flex-col font-body min-h-screen text-sm">
	<slot />
</body>
</html>

<style is:inline>

  html {
    /* smooth scroll */
    scroll-behavior: smooth;
  }

  .embeddedServiceHelpButton .helpButton .uiButton {
		background-color: #19A2E6 !important;
	}

	.embeddedServiceHelpButton .helpButton .uiButton:focus {
		outline: 1px solid #19A2E6;
	}

	.chatHeaderBranding{
		background-color: #19A2E6!important;
	}

	.embeddedServiceHelpButton .uiButton {
		min-width: 18em !important;
	}
  
</style>

<script type='text/javascript' src='https://service.force.com/embeddedservice/5.0/esw.min.js'></script>
	<script type='text/javascript'>
		var initESW = function(gslbBaseURL) {
			embedded_svc.settings.displayHelpButton = true; //O falso
			embedded_svc.settings.language = 'es-MX';

			//embedded_svc.settings.defaultMinimizedText = '...'; //(Toma como valor predeterminado Sesión de chat con un experto)
			//embedded_svc.settings.disabledMinimizedText = '...'; //(Toma como valor predeterminado Agente sin conexión)

			embedded_svc.settings.defaultMinimizedText = 'CHATEA CON UN EXPERTO';
			embedded_svc.settings.loadingText = 'Conectando...'; 

			//embedded_svc.settings.loadingText = ''; //(Toma como valor predeterminado Cargando)
			//embedded_svc.settings.storageDomain = 'yourdomain.com'; //(Establece el dominio para su desarrollo de modo que los visitantes puedan navegar por subdominios durante una sesión de chat)

			// Configuración para Plática
			//embedded_svc.settings.directToButtonRouting = function(prechatFormData) {
				// Dynamically changes the button ID based on what the visitor enters in the pre-chat form.
				// Returns a valid button ID.
			//};
			//embedded_svc.settings.prepopulatedPrechatFields = {}; //Establece el relleno automático de los campos del formulario previo al chat
			//embedded_svc.settings.fallbackRouting = []; //Una matriz de identificadores de botones, de usuario o userId_buttonId
			//embedded_svc.settings.offlineSupportMinimizedText = '...'; //(Toma como valor predeterminado la opción Contacto)

			embedded_svc.settings.enabledFeatures = ['LiveAgent'];
			embedded_svc.settings.entryFeature = 'LiveAgent';

			embedded_svc.init(
				'https://begrand.my.salesforce.com',
				'https://begrand.my.site.com/begrandfrontdesk',
				gslbBaseURL,
				'00Df20000019tKD',
				'Live_Agent_SumaMetros',
				{
					baseLiveAgentContentURL: 'https://c.la3-core1.sfdc-lywfpd.salesforceliveagent.com/content',
					deploymentId: '572f2000000fy7G',
					buttonId: '573Qm0000006FM9',
					baseLiveAgentURL: 'https://d.la3-core1.sfdc-lywfpd.salesforceliveagent.com/chat',
					eswLiveAgentDevName: 'EmbeddedServiceLiveAgent_Parent04IQm0000002bujMAA_18f08b0b089',
					isOfflineSupportEnabled: false
				}
			);
		};

		if (!window.embedded_svc) {
			var s = document.createElement('script');
			s.setAttribute('src', 'https://begrand.my.salesforce.com/embeddedservice/5.0/esw.min.js');
			s.onload = function() {
				initESW(null);
			};
			document.body.appendChild(s);
		} else {
			initESW('https://service.force.com');
		}
	</script>
