---
import '../styles/global.css'
const site_url = Astro.site
let base_ulr = ''

// Get the process environment
if (process.env.NODE_ENV === 'development') {
	base_ulr = 'http://localhost:4321'
} else {
	base_ulr = site_url.href + ''
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{ title }</title>
  <meta
    name="description"
    content="Compra desde 1m² en grandes proyectos residenciales ya rentados y genera rendimientos por rentas más plusvalía."
  />
  <meta name="og:title" content={ title } />
  <meta
    name="og:description"
    content="Compra desde 1m² en grandes proyectos residenciales ya rentados y genera rendimientos por rentas más plusvalía."
  />

  <meta name="og:image" content={base_ulr + '/og.jpg'} />
  <link rel="icon" href="/favicon.png" type="image/png" />
  <script src="https://kit.fontawesome.com/dd626c8ac3.js" crossorigin="anonymous"></script>

  <!-- Favicon -->
  <link rel="icon" href="/favicon.png" type="image/png" />

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-H8JTC0Y322"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-H8JTC0Y322');
  </script>

  <!-- Clarity tracking code -->
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "ku6s4q2wzr");
  </script>
</head>
<body class="antialiased flex flex-col font-body min-h-screen text-sm">
	<slot />
</body>
</html>

<style is:inline>

  html {
    /* smooth scroll */
    scroll-behavior: smooth;
  }

  .embeddedServiceHelpButton .helpButton .uiButton {
		background-color: #19A2E6 !important;
	}

	.embeddedServiceHelpButton .helpButton .uiButton:focus {
		outline: 1px solid #19A2E6;
	}

	.chatHeaderBranding{
		background-color: #19A2E6!important;
	}

	.embeddedServiceHelpButton .uiButton {
		min-width: 18em !important;
	}
  
</style>

<script is:inline type='text/javascript'>
	function initEmbeddedMessaging() {
		try {
			embeddedservice_bootstrap.settings.language = 'es_MX'; // For example, enter 'en' or 'en-US'

			embeddedservice_bootstrap.init(
				'00Df20000019tKD',
				'Enhanced_Chat_Suma_Metros',
				'https://begrand.my.site.com/ESWEnhancedChatSumaMet1778107499808',
				{
					scrt2URL: 'https://begrand.my.salesforce-scrt.com'
				}
			);
		} catch (err) {
			console.error('Error loading Embedded Messaging: ', err);
		}
	};
</script>
<script is:inline type='text/javascript' src='https://begrand.my.site.com/ESWEnhancedChatSumaMet1778107499808/assets/js/bootstrap.min.js' onload='initEmbeddedMessaging()'></script>
