---
interface Props {
	title: string
}

const { title } = Astro.props
const site_url = Astro.site
let base_ulr = ''

// Get the process environment
if (process.env.NODE_ENV === 'development') {
	base_ulr = 'http://localhost:4321'
} else {
	base_ulr = site_url.href + ''
}
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Sumametros® | Sé dueño de Metros cuadrados de los mejores edificios"
		/>
		<meta
			name="og:title"
			content="Sumametros® | Sé dueño de Metros cuadrados de los mejores edificios"
		/>
		<meta
			name="og:description"
			content="Compra desde 1m² en los mejores edificios, obtén rentas y plusvalía, o adquiere tu departamento un metro a la vez con Sumametros®"
		/>
		<meta name="og:image" content={base_ulr + '/og.jpg'} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href={base_ulr + '/favicon.png'} type="image/png" />
		<meta name="generator" content={Astro.generator} />
		<title>Sumametros® | {title}</title>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,500;0,700;1,400&family=Outfit:wght@500&display=swap"
			rel="stylesheet"
		/>
		<script src="https://kit.fontawesome.com/dd626c8ac3.js" crossorigin="anonymous"></script>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-H8JTC0Y322"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-H8JTC0Y322');
		</script>

		<!-- Clarity tracking code -->
		<script type="text/javascript">
			(function(c,l,a,r,i,t,y){
					c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
					t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
					y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
			})(window, document, "clarity", "script", "ku6s4q2wzr");
		</script>
	</head>
	<body class="flex min-h-screen flex-col text-blue-950 antialiased">
		<slot />
	</body>
</html>

<style>
	@font-face {
		font-family: 'Archia';
		src: url('/fonts/archia-thin-webfont.woff') format('woff');
		font-weight: 100;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Archia';
		src: url('/fonts/archia-light-webfont.woff') format('woff');
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Archia';
		src: url('/fonts/archia-regular-webfont.woff') format('woff');
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Archia';
		src: url('/fonts/archia-medium-webfont.woff') format('woff');
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Archia';
		src: url('/fonts/archia-semibold-webfont.woff') format('woff');
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Archia';
		src: url('/fonts/archia-bold-webfont.woff') format('woff');
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}
</style>
